* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-size: 16px;
    background: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
1
header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
header .menu a {
    font-weight: 900;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 40px;
    border-bottom: 2px solid transparent;
    padding: 8px;
}
header .menu a:hover {
    border-bottom: 2px solid;
}
2
header {
    display: flex;
    .logo {
        width: 150px;
    }
    img {
        width:
    }
}

/**==========main==========**/
.main {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    width: 70%;
}
.main article .imagen img {
    width: 100%;

}
.main article h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.main article p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: normal;
}
.aside1 {
    margin-top: 20px;
    width: 30%;
    background: red;
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aside1 .ad {
    background: maroon;
    color: white;
    font-size: 30px;
    text-align: center;
}
footer {
    margin-top: 20px;
    color: white;
    background: indigo;
    width: 100%;
    padding: 20px;
    text-align: center;
}
/*-**===============Media querys==============****/
@media screen and (max-width:800px) {
    /**estilos aqui***/
    .main {
        width: 100%;
    }
    .aside1 {
        width: 100%;
        flex-direction: row;
    }
    /** manera dificil
    .aside1{
      position: absolute;
      margin-top: 665px;
      width: 699px;
    }
    footer{
      margin-top: 105px;
    }
**/
    /**fin estilos**/
}
@media screen and (max-width:600px) {
    .main article h2 {
        font-weight: 500;
        text-align: center;
    }
    .main article p {
        line-height: 18px;
    }
}

/***/

/*fin*/
