* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-size: 16px;
    background: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;

}
header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
header .menu a {
    font-weight: 900;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 40px;
    border-bottom: 2px solid transparent;
    padding: 8px;
}
header .menu a:hover {
    border-bottom: 2px solid;
}

/**==========main==========**/
.main{
  margin-top: 20px;
  background: #fff;
  padding:20px;
  width: 100%;
}
.main article .imagen img{
  width:100%;

}
.main article h2{
  margin-bottom:20px;
  font-weight: bold;
  font-size: 32px;
}
.main article p{
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: normal;
}
























  /*fin*/
