body{
  background: #fff;
}
header{
  display: flex;
  background: #fff000;
  max-width: 1500px;
  max-height: 400px;
}
header nav{
  background: #000;
  width: 90%;
  margin: auto;
  max-height: 100px;
  padding: 10px;
  display: flex;
}
header nav a{
  color:#fff;
  text-decoration: none;
  font-size: 25px;
  display: block;
}
header nav a:hover{
background: #fff;
color:#000;
}
.main{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.main .video {
  width: 50%;
  background: #d4d4d4;
}
.main .texto{
  width: 50%;
  background-color: #333;
}





@media screen and (max-width:800px) {
  header nav {
  justify-content: center;
  }
}
@media screen and (max-width:600px) {
  .main .video{

    width: 100%;
  }
  .main .video iframe{
    width: 100%;
  }
  .main .texto{
    width: 100%;
  }

}
@media screen and (max-width:300px) {
.main .video{
  width: 100%;
}

}
